@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "tailwindcss";

@font-face {
  font-family: 'Hanson';
  src: url('/fonts/Hanson-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monument Extended';
  src: url('/fonts/MonumentExtended-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monument Extended';
  src: url('/fonts/MonumentExtended-Ultrabold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-hanson: 'Hanson', sans-serif;
  --font-monument: 'Monument Extended', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
  --color-dark-purple: #3B2559;
  --color-purple: #6537A6;
  --color-violet: #6F36BF;
  --color-strawberry: #D92353;
  --color-red: #D92344;
  --color-white: #ffffff;
  --color-orange: #FEB26F;
  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
}

.panels-row {
  flex-direction: column;
}

.panels-desktop-only {
  display: none;
}

.panels-mobile-only {
  display: flex;
}

@media (min-width: 1100px) {
  .panels-row {
    flex-direction: row;
  }

  .panels-desktop-only {
    display: flex !important;
  }

  .panels-mobile-only {
    display: none !important;
  }
}

@keyframes marquees {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquees-reverse {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0%);
  }
}

.animation-marque {
  animation: marquees 25s linear infinite;
}

.animation-reverse {
  animation: marquees-reverse 25s linear infinite;
}

@keyframes slide {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0%);
  }
}

.animation-slide {
  animation: slide 25s linear infinite;
}

.animation-slide:hover {
  animation-play-state: paused;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #3B2559;
  color: #ffffff;
  font-family: 'Hanson', 'Monument Extended', 'Poppins', sans-serif;
}