@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "tailwindcss";

@font-face {
  font-family: 'Hanson';
  src: url('/fonts/Hanson-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monument Extended';
  src: url('/fonts/MonumentExtended-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monument Extended';
  src: url('/fonts/MonumentExtended-Ultrabold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}


@theme {
  --font-hanson: 'Hanson', sans-serif;
  --font-monument: 'Monument Extended', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
  --color-dark-purple: #3B2559;
  --color-purple: #6537A6;
  --color-violet: #6F36BF;
  --color-strawberry: #D92353;
  --color-red: #D92344;
  --color-white: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #3B2559;
    --foreground: #ededed;
  }
}


body {
  background: var(--purple);
  color: var(--white);
  font-family: 'Hanson', 'Monument Extended', Poppins, sans-serif;
}